---
- name: Setup new application server
  hosts: application
  roles:
    - koodiklinikka.fi-front
    - koodiklinikka.fi-api
    - tohtori
  vars_files:
  - vars/application_secret_vars.yml
  tasks:
    - include: roles/nginx/tasks/nginx_config.yml
  handlers:
    - name: reload nginx
      sudo: true
      service: >
        name=nginx
        state=reloaded
