{
  "all": {
    "slack": {
      "token": "{{ koodiklinikka_api_slack_api_token }}",
      "private_channel": "{{ koodiklinikka_api_slack_private_channel }}",
      "public_channel": "{{ koodiklinikka_api_slack_public_channel }}"
    },
    "github": {
      "token": "{{ koodiklinikka_api_github_api_token }}"
    },
    "twitter": {
      "consumerKey": "{{ koodiklinikka_api_twitter_consumer_key }}",
      "consumerSecret": "{{ koodiklinikka_api_twitter_consumer_key_secret }}",
      "token": "{{ koodiklinikka_api_twitter_token }}",
      "tokenSecret": "{{ koodiklinikka_api_twitter_token_secret }}"
    }
  }
}
